<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>CrudBoard</title>
    <link rel="stylesheet" type="text/css" th:href="@{/css/style.css}">
</head>


<body>
    <header th:fragment="header">
        <nav class="navbar navbar-inverse">
            <a class="navbar-brand" href="/board/list">Home</a>
        </nav>
    </header>

<div class="layout">

    <div class="page-header">
        <h1>게시글 목록</h1>
    </div>
    <table>
        <thead>
        <tr>
            <th>No</th>
            <th>제목</th>
            <th>작성 날짜</th>
        </tr>

        </thead>
        <tbody>
        <tr th:each="board : ${list}">
            <td th:text="${board.id}">1</td>
            <td>
                <a th:text="${board.title}" th:href="@{/board/view(id=${board.id})}"></a>
            </td>
            <td>
               <a th:text="${#temporals.format(board.created_date, 'yyyy-MM-dd HH:mm')}"></a>
            </td>
        </tr>
        </tbody>
    </table>
</div>
</body>
</html>